* {
	margin: 0;
	padding: 0;
	list-style: none;
}

body {
	background: #f7f7f7;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.box {
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border: 1px solid #000000;
}

.nav-left {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 2px;
	right: 80%;
	border: 1px solid #00C5B5;
	color: #000000;
	overflow: auto;
	font-weight: 500;
}

.nav-left .dish {
	position: relative;
	padding: 5px;
	width: 92%;
	height: 50px;
	margin: auto;
	margin-top: 10px;
	border-bottom: dashed #d1d1d1 0.1em;
	font-size: 30px;
}

.nav-left .dish .dish-name {
	float: left;
	line-height: 60px;
	position: absolute;
	left: 5px;
}

.nav-left .dish .dish-menu {
	float: right;
	line-height: 60px;
	position: absolute;
	right: 5px;
}

.info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 21.5%;
	right: 2px;
	border: 1px solid #398439;
	overflow: auto;
	padding: 10px;
}

.info .table {
	position: relative;
	width: 330px;
	height: 450px;
	border: 1px solid #cacbcf;
	float: left;
	margin-left: 18px;
	margin-top: 4px;
	border-radius: 5px;
}

.table .table-num {
	width: 100%;
	height: 15%;
	border-bottom: solid #d1d1d1 0.1em;
	color: #afafaf;
	background: #ffffff;
	position: relative;
}

.table-num h1 {
	float: left;
	font-size: 46px;
	position: absolute;
	left: 1px;
}

.table-num span {
	position: absolute;
	right: 2px;
	float: left;
	line-height: 73px;
	margin-left: 10px;
}

.table .table-food {
	width: 100%;
	height: 66%;
	background: #ffffff;
	border-bottom: solid #d1d1d1 0.1em;
	color: #afafaf;
	overflow: auto;
}

.table .table-food .infor-food {
	width: 100%;
	height: 40px;
	border-bottom: solid #d1d1d1 0.2em;
	line-height: 40px;
	position: relative;
}

.table .table-food .infor-food h4 {
	position: absolute;
	left: 2px;
	float: left;
	line-height: 50px;
	
}

.table .table-food .infor-food .infor-fen {
	float: left;
	position: absolute;
	right: 100px;
	line-height: 50px;
}

.table .table-food .infor-food .infor-qian {
	float: right;
	position: absolute;
	right: 10px;
	line-height: 50px;
}


.table .table-money {
	width: 100%;
	height: 18%;
	border-bottom: solid #d1d1d1 1px;
	color: #afafaf;
	background: #ffffff;
	position:relative;
}

.table .table-money h3 {
	float: left;
	margin-top: 3px;
	margin-left: 3px;
}

.table .table-money span {
	float: right;
	line-height: 33px;
	margin-right: 5px;
}

.table .table-money h2 {
	float: right;
	margin-right: 3px;
}

.table .table-money a {
	position: absolute;
	left: 2px;
	bottom: 5px;
}

.table .table-finish {
	width: 60px;
	height: 30px;
	position: absolute;
	background: #e7ac7a;
	bottom: 5px;
	right: 5px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	color: #080808 !important;
}

.table .table-finish:hover {
	background: #f90e3a;
}