<!DOCTYPE html>
<html>
<head>
<title>Signin</title>
<link href="/foodMunu/css/backstage.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Sign in Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="/foodMunu/js/JQuery.js" type="text/javascript" charset="utf-8"></script>
<script src="/foodMunu/js/backstage.js" type="text/javascript" charset="utf-8"></script>
</script>
<!--webfonts-->
<!--//webfonts-->
</head>
<body>
	<h1>App Sign In Form</h1>
		<div class="app-cam">
			<div class="cam"><img src="/foodMunu/images/cam.png" class="img-responsive" alt="" /></div>
			<form action="/loginsub" method="post">
            <input name="username" type="text" class="text" value="请输入账号" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '请输入账号';}" >
            <input name="password" type="password" class="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
				<div class="submit"><input type="submit" class="submit" value="Sign in" ></div>
				<div class="clear"></div>
				 <!--<div class="buttons">
					<ul>
						<li><a href="#" class="hvr-sweep-to-right">Sign in with Facebook</a></li>
						<li><a href="#" class="hvr-sweep-to-left">Sign in with Twitter</a></li>
						<div class="clear"></div>
					</ul>
				</div>-->
				<div class="new">
					<p><a href="#">忘记密码?</a></p>
					<!--<p class="sign">New here ?<a href="#"> Sign Up</a></p>-->
					<div class="clear"></div>
				</div>
			</form>
		</div>

</body>
</html>