<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/menu.css" />
		<script src="js/JQuery.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/menu.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="box">
			<div class="nav-left">
				<div class="dish">
					<span class="dish-name">瓦德瓦</span>
					<span class="dish-menu">22份</span>
				</div>

			</div>
			<div class="info">
				<div class="table">
					<div class="table-num">
						<div style="width: 100%; height: 10%; background: #acacac;"></div>
						<h1>#08</h1>
						<span>下单时间：2018-05-03 14:33:33</span>
					</div>
					<div class="table-food">
						<div class="infor-food">
							<h4>菜名</h4>
							<span class="infor-fen">X3</span>
							<span class="infor-qian">$66</span>
						</div>
						<div class="infor-food">
							<h4>菜名</h4>
							<span class="infor-fen">X3</span>
							<span class="infor-qian">$66</span>
						</div>
						<div class="infor-food">
							<h4>菜名</h4>
							<span class="infor-fen">X3</span>
							<span class="infor-qian">$66</span>
						</div>
						
					</div>
					<div class="table-money">
						<h3>总计</h3>
						<h2>$66</h2>
						<span>(已支付)</span>
						<div class="table-finish">完成</div>
					</div>
				</div>

			</div>
		</div>
	</body>

</html>